<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 400</title>
    <link rel="shortcut icon" href="/static/images/xitij.png" type="image/x-icon">

    <link rel="stylesheet" href="/static/error_css.css">

</head>
<body>
    <div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
  <h1>Error <span class="errorcode">400</span></h1>
  <p class="output">Oops! Server Error, The server cannot or will not process the request due to something that is perceived to be a client error.</p>
  <p class="output">Please try to <a href="/login">login</a> or <a href="/">return to the homepage</a>.</p>
  <p class="output">Good luck.</p>
</div>
</body>
</html>